/*------------------------------------------------------------------

[Master Stylesheet]
Project:	    Matarial CV/Resume Template
Version:	    1.0
Last change:	06/02/16
Primary use:	CV/Resume, Portfolio, Perosnal Website

-------------------------------------------------------------------*/
/*
|----------------------------------------------------------------------------
| CSS INDEX
|----------------------------------------------------------------------------
    1. STYLESHEET
        1-1. CUSTOM
        1-2. TYPOGRAPHY
        1.3. BODY
    2. SIDEBAR
    3. SECTIONS CUSTOM STYLE
    4. WORK EXPERIENCE
    5. INTEREST
    6. WEBSITE
    7. BLOG
    8. COVER LATTER
    9. CONTACT
    10. PORTFOLIO

------------------------------------------------------------------*/
/*------------------------------------------------------------------
[ Color codes ]
    main-color:         #5da4d9;
    Blue:               #71DD75 (Blue)    [ This is the main color in Template ]
    white:              #FFFFFF (White)     [  ]
    body-bg-color:      #eae8e7            [ body bg color ]
    font-color:         #767270             [ font color  ]
    border-color:       #4783c2;

------------------------------------------------------------------ */

#toast-container {
  top: inherit;
  right: inherit;
  position:relative;
}


#maintoastcontainer {
  margin-top:15px;
  margin-right:15px;
  position: absolute;
  right: 0;
}

.waves-effect.waves-blue .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: rgba(93, 164, 217, 0,65);
    }

button:focus {
  background-color: transparent;
}

* {
  font-family: 'roboto', sans-serif;
}
.fix {
  overflow: hidden;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 10pt;
  line-height: 17pt;
}
a {
  color: #ffffff;
}
.clear {
  clear: both;
}
/* style for wow animation*/
.a1 {
  visibility: visible;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.a2 {
  visibility: visible;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.a3 {
  visibility: visible;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.a4 {
  visibility: visible;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.a5 {
  visibility: visible;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}
/* style for Typography */
h2,
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
h2 {
  font-size: 22pt;
  line-height: 37pt;
  margin: 0px;
}
h3 {
  font-size: 14pt;
  line-height: 24pt;
}
h4 {
  font-size: 12pt;
  line-height: 20pt;
  opacity: 1;
}
h5 {
  font-size: 10pt;
  margin: 0px;
  padding: 0px;
  line-height: 15pt;
}
.fa {
  font-size: 22px;
}
/* style for

***** body  *****

*/
body {
  background-color: #eae8e7;
  color: #767270;
  text-align: center;
}
.container {
  margin-top: 24px;
}
/* style for

***** Sidebar  *****

*/
.sidebar {
  text-align: left;
  color: #ffffff;
  background-color: #5da4d9;
  overflow: hidden;
  display: block;
}
.sidebar .heading {
  position: relative;
}
.sidebar .heading .feature-img {
  position: relative;
}
.sidebar .heading .feature-img img {
  width: 100%;
}
.sidebar .heading .button-collapse {
  display: block !important;
}
.sidebar .heading .nav-icon {
  position: absolute;
  top: 0;
  padding: 0 16px;
}
.sidebar .heading nav {
  background-color: initial;
  box-shadow: initial;
}
.sidebar .heading nav .button-collapse i {
  height: 30px;
  font-size: 18pt;
  line-height: 24pt;
  background-color: #5da4d9;
  margin-top: 20px;
  padding: 0px 6px;
}
.sidebar .heading nav .side-nav h3 {
  color: #5da4d9;
  padding: 0 15px;
}
.sidebar .heading nav .side-nav li a:hover {
  color: #5da4d9;
}
.sidebar .heading nav .side-nav li:hover {
  background-color: transparent !important;
}
.sidebar .heading .title {
  position: absolute;
  right: 11px;
  bottom: 46px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar .heading .title h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar .heading .title span {
  /* margin-top: -5px;
  font-size: 10pt;
  margin: 0px;
  padding: 0px;
  line-height: 15pt; */
  background:#5da4d9;
  padding: 5px 10px;
}
.sidebar .heading .title .job-title {
  background: black;
  font-size:16pt;
}
.sidebar .icon {
  margin-top: 2px;
}
.sidebar .icon .fa {
  display: inherit;
  text-align: center;
}
.sidebar .sidebar-item {
  overflow: hidden;
  margin-top: 10px;
}
.sidebar .sidebar-item:first-child {
  margin-top: 30px;
}
.sidebar .section-item-details {
  padding-right: 26px;
  margin-bottom: 30px;
}
.sidebar .section-item-details p {
  margin: 0px;
}
.sidebar .info {
  border-bottom: 1px solid #4783c2;
  padding-left: 0px;
}
.sidebar .info span {
  opacity: 0.7;
  font-weight: 300;
}
.sidebar .personal {
  margin-bottom: 20px;
}
.sidebar .personal h4 {
  margin: 0px;
}
.sidebar .work h4 {
  margin-bottom: 0px;
}
.sidebar .address-details h4, .sidebar .skill-line h4 {
  margin-top: 0px;
}
.sidebar .address-details h4 span {
  font-size: 10pt;
}
.sidebar .skill-line {
  padding-right: 30px;
  padding-left: 0px;
}
.sidebar .skill-line .progress {
  background-color: #4783c2;
  height: 2px;
  overflow: visible;
}
.sidebar .skill-line .determinate {
  background-color: #ffffff;
}
.sidebar .skill-line .determinate .fa {
  font-size: 12px;
  position: absolute;
  top: -5px;
  right: 0px;
  margin-left: 50%;
}
.sidebar .skill-line h3 {
  margin-top: 0px;
  margin-bottom: 20px;
}
.sidebar .skill-line span {
  opacity: initial;
}

.sidebar .skills-logos .row {
  margin: 0;
}

.sidebar .skills-logos .col {
  padding: 0 4px;
}

.skills-logos img {
  max-width: 60px;
}

.sidebar .heading nav {
  background-color: transparent !important;
  box-shadow: none !important;
}

/* style for

***** Sections *****

*/
#section {
  overflow: hidden;
}
.section {
  padding-left: 32px !important;
  text-align: left;
}
.section .fa {
  text-align: center;
  display: block;
  font-size: 30pt;
}
.section .section-wrapper {
  background-color: #ffffff;
  overflow: hidden;
  margin-bottom: 24px;
  padding-bottom: 24px !important;
}
.section .section-wrapper .section-icon {
  margin-top: 40px;
}
.section .section-wrapper h2 {
  margin-top: 30px;
  margin-bottom: 25px;
}
/* style for

***** Work Experience  *****

*/
.custom-content {
  padding-right: 0px !important;
}
.custom-content-wrapper {
  padding-right: 30px;
  margin-bottom: 25px;
  border-bottom: 1px solid #bdbdbd;
}
.custom-content-wrapper:last-child {
  border-bottom: initial;
}
.custom-content-wrapper h3 {
  margin: 0px;
  font-size: 12pt;
  line-height: 20pt;
}
.custom-content-wrapper h3 span {
  color: #767270;
}
.custom-content-wrapper span {
  color: #5da4d9;
  margin-top: 0px;
  font-size: 10pt;
  line-height: 15pt;
}
.custom-content-wrapper p {
  margin-top: 0px;
  margin-bottom: 25px;
}
/* style for

*****  Interests  *****

*/
.interests ul {
  padding-left: 0px;
}
.interests ul li {
  list-style-type: none;
  display: inline-block;
  width: 19%;
}
.interests ul li .fa {
  color: #5da4d9;
  text-align: left;
}
/* style for

***** Portfolio website  *****

*/
.contact-email {
  padding-top: 20px !important;
}
.contact-email span {
  font-size: 12pt;
  line-height: 18pt;
}
.contact-email span a {
  color: #5da4d9;
  word-wrap: break-word;
}
.contact-email .col {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* style for

***** blog  *****

*/
.post-title {
  margin-top: -5px;
  color: white;
  padding: 20px 30px;
}
.post-title h2 {
  margin: 0px;
  font-size: 14pt;
  line-height: 24pt;
}
.post-title span {
  opacity: 0.7;
}
.blog-post .thumbnail img {
  width: 100%;
  margin-bottom: -2px;
}
.blog-post:nth-child(odd) {
  padding-left: 0px !important;
}
.blog-post:nth-child(even) {
  padding-right: 0px !important;
}
.blog-post:last-child {
  padding-right: 0px !important;
}
#blog-post-1 {
  background-color: #e95855;
}
#blog-post-2 {
  background-color: #707281;
}
#blog-post-3 {
  background-color: #564d52;
}
#blog-post-4 {
  background-color: #47bac9;
}
#blog-post-5 {
  background-color: #68c02e;
}
.post-details {
  background-color: #ffffff;
  padding: 20px 30px;
  margin-bottom: 24px;
}
.featured-img {
  padding-right: 0px !important;
}
.caption {
  padding-left: 0px !important;
}
#caption .post-details {
  margin-bottom: 0px;
}
.comment .section-wrapper {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}
.comment .comment-img {
  padding: 10px;
}
.comment .comment-details {
  padding: 10px;
}
.comment .comment-details h4 {
  margin: 0px;
}
.comment .comment-details span {
  font-size: 9pt;
  line-height: 17pt;
}
.comment-form {
  padding-bottom: 0px;
  background-color: #fff;
  padding: 20px 50px !important;
}
/* style for
    **************
   * Cover latter *

*/
.cover-latter {
  padding: 30px;
  margin-right: 5px;
  margin-bottom: 24px;
  background-color: white;
}
.cover-latter strong {
  font-weight: 400;
}
.cover-latter p:last-child {
  margin: 30px 0px;
}
.cover-latter p h2 {
  margin-bottom: 0px;
  font-size: 12pt;
  line-height: 20pt;
}
.cover-latter .cover-title span {
  font-size: 12pt;
  line-height: 20pt;
  font-weight: 500;
}
.cover-latter .cover-title h2 {
  font-size: 12pt;
  line-height: 20pt;
  margin-top: 20px;
}
.cover-latter .cover-title h4 {
  font-weight: 500;
}
.cover-latter .cover-title p {
  margin-top: 0px;
}
.cover-latter .signature h4 {
  margin: 0px;
}
/* ***** Contact  *****
*
*/
.section .g-map {
  padding-bottom: 0px !important;
}
.section .g-map #map {
  width: 100%;
  height: 350px;
}
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #5da4d9;
}
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #5da4d9;
}
.waves-me:focus {
  background-color: #5da4d9;
  color: #fff;
}
.btn {
  margin-left: 10px;
  background-color: #5da4d9;
}
.btn:hover,
.btn:focus {
  background-color: #5da4d9;
}
.email-success,
.email-failed {
  display: none;
  text-align: left !important;
  margin: 0 0 0 0 !important;
}
.btn.disabled {
  background-color: #5da4d9;
  color: #fff;
  cursor: default;
}
.btn.disabled:focus {
  background-color: #5da4d9;
  color: #fff;
  cursor: default;
}
.btn.disabled:hover {
  background-color: #5da4d9;
  color: #fff;
  cursor: default;
}
#msgSubmit {
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.text-danger {
  color: red;
}
.text-success {
  color: #5da4d9 ;
}
.contact-email.sep {
  padding-top: 50px !important;
}

/*
|----------------------------------------------------------------------------
| PORTFOLIO
|----------------------------------------------------------------------------
*/
.portfolio-nav ul {
  margin: 30px;
  text-align: center;
}
.portfolio-nav ul li {
  list-style-type: none;
  display: inline;
  margin: 10px;
  padding-bottom: 5px;
  cursor: pointer;
  text-transform: uppercase;
}
.portfolio-nav ul li:hover {
  border-bottom: 1px solid #bdbdbd;
}
.mix {
  display: none;
}
.fancybox-overlay {
  background-color: rgba(25, 22, 22, 0.69);
}
.back-btn {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
.back-btn .fa {
  display: inline;
}
#back-button {
  display: none;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 15px;
  margin-right: 5px;
}
#back-button i {
  font-size: 22px;
  opacity: 0.9;
  position: relative;
  margin-right: 15px;
  vertical-align: middle;
}
#back-button img {
  padding: 10px;
}
#next-button {
  display: none;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 15px;
  margin-left: 5px;
}
#next-button i {
  margin-left: 10px;
  font-size: 22px;
  opacity: 0.9;
  position: relative;
  vertical-align: middle;
}
#next-button img {
  padding: 10px;
}
#loader {
  min-height: 930px;
  position: relative;
  display: none;
}
#loader .loader-icon {
  background: url(../images/loading.gif) no-repeat center center;
  background-color: #FFF;
  margin: -22px -22px;
  top: 50%;
  left: 60%;
  z-index: 10000;
  position: fixed;
  width: 44px;
  height: 44px;
  -webkit-background-size: 30px 30px;
  background-size: 30px 30px;
  border-radius: 5px;
}
.full-portfolio {
  padding: 30px !important;
  width:100%;
}
.single-portfolio {
  background-color: #fff;
  margin-bottom: 20px;
}
.single-portfolio .full-portfolio-title {
  font-size: 30px;
}
.single-portfolio-img {
  margin: 0;
  padding: 0 !important;
}
.single_image {
  color: #fff;
  text-align: left;
}
.single_image h2 {
  font-size: 22px;
  line-height: 34px;
  margin: 10px 0;
}
.single_image p {
  text-transform: normal;
  margin-top: 10px;
  opacity: 0.8;
}
.full-portfolio-home {
  position: relative;
}
.full-portfolio-home .section-wrapper {
  padding-bottom: 0 !important;
}
.full-portfolio-content {
  padding: 30px;
}
.portfolio-information li a {
  color: #5da4d9;
}

/* end */
/* Hackermode switch*/

.hackerswitch {
	margin-bottom: 25px;
}


body.hackermode {
  background-size: cover;
  background-attachment: fixed;
	color: #00ff0a;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body.hackermode .sidebar, body.hackermode #nav-mobile {
	background: #1a1a1a;
	color: #00ff0a;
}

body.hackermode #nav-mobile a {
	color: #00ff0a;
}

body.hackermode .section .section-wrapper, body.hackermode .side-nav {
	background: url('10.png');
}

body.hackermode .custom-content {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.58) , rgba(45, 64, 0, 0.54));
}

body.hackermode .z-depth-1, nav, body.hackermode .card-panel, body.hackermode .card, body.hackermode .toast, body.hackermode .btn, body.hackermode .btn-large, body.hackermode .btn-floating, body.hackermode .dropdown-content, body.hackermode .collapsible, body.hackermode .side-nav {
	-webkit-box-shadow: 9px 9px 0px 0px rgba(178, 255, 0, 0.29);
	-moz-box-shadow: 9px 9px 0px 0px rgba(178, 255, 0, 0.29);
box-shadow: 9px 9px 0px 0px rgba(178, 255, 0, 0.29);
}

body.hackermode .sidebar .heading .title span, body.hackermode .sidebar .heading nav .button-collapse i {
	background: #000000;
  color:#00ff0a;
}

body.hackermode a {
	color:#5da3d8;
}

body.hackermode .normalimg {
  display: none;
}

body.hackermode .hackermodeimg {
  display:block!important;
}

.shadowbox {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#console {
  background: black;
  padding:30px;
}

#console.oldscreen {
  padding: 30px;
  background: linear-gradient(to bottom right, #626a5f, #36382b, #25261e);
  background: linear-gradient( 90deg, #525252 8%, #808080 39%, #525252 100%);
  background: linear-gradient(90deg, #6b6b6b 0% , #9d9d9d 50%, #dddddd 50%, #9d9d9d 51% , #6b6b6b 99%);
  animation: ScreenLine 4s ease infinite;
  background-size: 600% 600%;
  border-bottom-left-radius: 100%30px;
  border-bottom-right-radius: 100%30px;
  border-top-left-radius: 100%30px;
  border-top-right-radius: 100%30px;
}

@keyframes ScreenLine {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#console p {
  font-family: monospace;
  font-weight: bold;
  font-size: 1.3vh;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: limegreen;
  text-shadow: 0px 0px 10px limegreen;
}

.console-wrapper {
  border: 9px inset #726d50;
  padding: 5px;
  background:linear-gradient(142deg, #383629 29%, #726d50 99%);
}

.shadowbox1 {
  box-shadow: inset 0 2px 20px 5px rgba(0, 0, 0, 0.53), inset 0 2px 8px 2px rgba(0, 0, 0, 0.39);
}


/* end*/
/* porfolio */

.single-portfolio-img:hover img {
    transform: scale(1.1) translate(0, -4.5%);
}

.single-portfolio-img {
    overflow:hidden;
}

.single-portfolio-img img {
    transition: all 300ms ease-in-out;
}

/* end*/
/* Game -Waar is Jeffrey? */

.waar-is-jeffrey {
  overflow: hidden;
  position: relative;
}

.waar-is-jeffrey .explanation {
  overflow:hidden;
}

.waar-is-jeffrey img {
  max-width: 100%;
}

.waar-is-jeffrey .example-images {
  text-align: right;
  padding-right: 30px;
}

@media (max-width: 1260px) {
  .waar-is-jeffrey .example-images {
    text-align: center !important;
  }
  .waar-is-jeffrey .example-images .example-image {
    max-height: 150px !important;
  }
}

.waar-is-jeffrey .example-image {
  padding-top: 30px;
  max-height: 200px;
}

.waar-is-jeffrey #imgMap {
  width:100%;
  cursor: pointer;
  transition: filter 0.3s;
}

.waar-is-jeffrey #btnBox {
  background:white;
  padding:5px 20px;
  max-width: 210px;
  text-align: center;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  z-index: 1;
}

.waar-is-jeffrey #btnBox h3 {
  margin:0;
}

.waar-is-jeffrey #btnBox .btn {
  margin-left: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  width:165px;
}

.waar-is-jeffrey #btnBox .no-btn {
  background: none;
  border: none;
  font-size: 10pt;
  padding: 0;
  width:100%;
}

.waar-is-jeffrey #btnBox .no-btn:hover, .waar-is-jeffrey #btnBox .no-btn:active {
  color:#5da4d9;
}

.waar-is-jeffrey .controls {
  padding: 25px 30px 0 30px;
}

.waar-is-jeffrey #answer {
  position: absolute !important;
  transform: translate(254px, 839px);
  z-index: 100000;
}

.waar-is-jeffrey .hint {
  filter:blur(2px);
  display: inline-block;
  -moz-transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  margin: 0;
  cursor: help;
}

.waar-is-jeffrey .hintbtn {
margin-left: 0;
margin-right: 10px;
vertical-align: top;
}

.waar-is-jeffrey .difficulty-level {
  text-align: center;
  cursor: default;
}

.waar-is-jeffrey .difficulty-level i{
  font-size:14pt;
  display: inline-block;
}

.waar-is-jeffrey .btn {
  margin-top:2px;
  margin-bottom: 2px;
}

.waar-is-jeffrey.custom-content .hintdiv {
    bottom: 0;
    position: absolute;
    z-index: 100000;
    pointer-events: none;
    -webkit-animation: opacity-flicker 1.5s infinite;
    animation: opacity-flicker 1.5s infinite;
    opacity:0;
}


@-webkit-keyframes opacity-flicker {
    0%   {opacity:1;}
    50%  {opacity:0.3;}
    100% {opacity:1;}
}


@keyframes opacity-flicker {
    0%   {opacity:0;}
    50%  {opacity:1;}
    100% {opacity:0;}
}

/* end */
/* material switch hackermode */

.no-padding-left {
  padding-left: 0 !important;
  text-align: left;
}

.pull-right {
    float: right!important;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.material-switch .label-success {
    background-color: #00ff0a;
}

[type="checkbox"]+label:before {
  border:none !important;
}

#hackermode-input:checked+label:before{
  width: 40px;
  top: 0;
  left:0;
  height:16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px !important;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.material-switch {
  display: inline-block;
  margin-right: 10px;
}

/*end*/
/*full portfolio quickmenu*/

.quickmenu {
  position: fixed;
  top: 25px;
  left: 25px;
  background: white;
  padding: 20px;
  text-align: left;
}

.quickmenu h3 {
  margin: 0;
}

.quickmenu ul {
  padding-left: 20px;
  margin: 0;
}

.quickmenu li {
  list-style-type: disc;
}

.quickmenu a {
  color: #039be5;
}

.blur {
  filter: blur(3px);
  padding-left: 3px;
}

.personal h4, .work h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
